.chat-main
  .chat-main__group-info
    .top-item
      .top-item__name
        TECH::EXPERT
      %ul.top-item__member
        Member：
        %li.top-item__member__list
          baba
        %li.top-item__member__list
          sakurai
    .chat-main__group-info__edit
      = link_to "#", class: "edit-btn" do
        Edit
  .chat-main__message-list
    .message
      .message__info
        .message__info__name
          sakurai
        .message__info__day-time
          2020/1/15(wed) 18:00:04
      .message__text
        夕礼の時間です！
    .message
      .message__info
        .message__info__name
          baba
        .message__info__day-time
          2020/1/15(wed) 22:00:27
      .message__text
        学習お疲れ様でした！
  .chat-main__message-form
    %form.form
      .input-box
        %input{type: "text", class: "input-box__text", placeholder: "type a message"}
        %label{class: "input-box__image"}
          = icon("fas", "image")
          %input{type: "file", class: "input-box__image__file"}
      %input{type: "submit", class: "submit-btn", value: "Send"}