.side-bar
  .side-bar__user-name
    .top-item
      .top-item__name
        名前
      .top-item__icon
        = link_to "#", class:"strong" do
          = icon("fa", "edit")
        = link_to "#", class:"strong" do
          = icon("fa", "cog")
  .side-bar__group-list
