// フォントカラー
$sideFontColor: #fff;
$chatTopGroupFontColor: #333;
$chatTopMemberFontColor: #999;
$chatMessageNameFontColor: #333;
$chatMessageDaytimeFontColor: #999;
$chatMessageTextFontColor: #434a54;

// アイコンカラー
$sideIconColor: #fff;

// ボタン関連
$chatTopBtnColor: #38aef0;
$formBtnColor: #38aef0;
$formBtnFontColor: #fff;

// 背景色
$sideTopBgColor: #253141;
$sideGroupBgColor: #2f3e51;
$chatTopBgColor: #fff;
$chatMessageBgColor: #fafafa;
$chatFormBgColor: #d2d2d2;

// デフォルトカラー
$white: #fff;
$side_blue_dark: #253141;
$side_blue_light: #2f3e51;
$light_blue: #38AEF0;
$light_gray: #999;
$black: #434a54;
$alert_orange: #F35500;

