.chat-main {
  @include heightWidth(100vh, calc(100vw - 300px));
  &__group-info {
    @include verticalHorizontal(space-between, normal);
    height: 100px;
    background-color: $chatTopBgColor;
    .top-item {
      &__name {
        font-size: 20px;
        color: $chatTopGroupFontColor;
        margin: 35px 40px 15px;
      }
      &__member {
        height: 20px;
        font-size: 12px;
        color: $chatTopMemberFontColor;
        margin-left: 40px;
        display: flex;
        &__list {
          margin-right: 5px;
        }
      }
    }
    &__edit {
      @include heightWidth(40px, 72px);
      margin: 28px 40px;
      .edit-btn {
        @include linkStyle($chatTopBtnColor);
        font-size: 16px;
        padding: 0 20px;
        line-height: 40px;
        border: 1px solid $chatTopBtnColor;
        position:  absolute;
      }
    }
  }
  &__message-list {
    height: calc(100vh - 100px - 90px);
    background-color: $chatMessageBgColor;
    padding: 35px 40px;
    .message {
      padding-bottom: 46px;
      &__info {
        display: flex;
        &__name {
          font-size: 16px;
          color: $chatMessageNameFontColor;
          padding-bottom: 12px;
        }
        &__day-time {
          font-size: 12px;
          color: $chatMessageDaytimeFontColor;
          margin-left: 10px;
        }
      }
      &__text {
        font-size: 14px;
        color: $chatMessageTextFontColor;
      }
    }
  }
  &__message-form {
    height: 90px;
    background-color: $chatFormBgColor;
    padding: 20px 40px;
    .form {
      display: flex;
      .input-box {
        width: 100%;
        display: flex;
        position: relative;
        &__text {
          height: 50px;
          width: 100%;
          padding: 0 40px 0 10px;
          border-style: none;
        }
        &__image {
          font-size: 1.3rem;
          position: absolute;
          top: 10px;
          right: 10px;
          cursor: pointer;
          &__file {
            display: none;
          }
        }
      }
      .submit-btn {
        height: 50px;
        width: 100px;
        padding: 0 30px;
        margin-left: 15px;
        background-color: $formBtnColor;
        color: $formBtnFontColor;
        cursor: pointer;
      }
    }
  }
}