@mixin heightWidth($h, $w) {
  height: $h;
  width: $w;
}

@mixin verticalHorizontal($jc:center, $ai:center) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
}

@mixin linkStyle($color) {
  color: $color;
  text-decoration: none;
}
